<div class="toolbar">
    <div class="left">
        <select class="form-control left">
            <option>北京</option>
            <option>上海</option>
            <option>广州</option>
        </select>
    </div>
    <div class="middle">

        <input type="text" ng-model="keyword" placeholder="搜索" >
    </div>
    <div class="right">
        <button style="padding: 0 0.5em" ng-click="search()">搜索</button>
    </div>
</div>
<h4 style="text-align: left">适合我的餐厅:</h4>

<div>
    <div class="recommends">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides" active="slide.active">

                <img class="dinning_bg" ng-src="{{slide.image}}" style="margin:auto;">
                <img class="discount_logo" ng-src="images/discount.png">


                <div class="pic_description">
                    <h4>{{slide.title}}</h4>

                    <p>{{slide.price | price}}</p>

                    <p>{{slide.address}}</p>
                </div>
                <button class="reservation" ng-click="reserve(slide.title)"> 一键订</button>
            </uib-slide>
        </uib-carousel>
    </div>
    <!--<div>-->
    <!--<button class="reservation" ng-click="reserve(slide.title)"> 一键定</button>-->
    <!--</div>-->
</div>