<!-- userinfo-initial.html -->
<div class="item">
    <label for="prefer_cooking" class="info">菜系</label>
    <input type="text" name="prefer_cooking" ng-model="formData.prefer_cooking">
</div>
<div class="item">
    <label for="prefer_price" class="info">价位</label>
    <input type="text" name="prefer_price" ng-model="formData.prefer_price">
</div>
<div class="item">
    <label for="prefer_restaurant" class="info">餐厅类型</label>
    <input type="text" name="prefer_restaurant" ng-model="formData.prefer_restaurant">
</div>
<div class="item">
    <label for="prefer_city" class="info">偏好城市</label>
    <input type="text" name="prefer_city" ng-model="formData.prefer_city">
</div>
<div class="item">
    <label for="prefer_district" class="info">偏好区域</label>
    <input type="text" name="prefer_district" ng-model="formData.prefer_district">
</div>
<div class="item">
    <label for="dinning_purpose" class="info">就餐目的</label>
    <input type="text" name="dinning_purpose" ng-model="formData.dinning_purpose" placeholder="主要就餐目的">
</div>
<div class="item">
    <label for="other_interests" class="info" style="vertical-align:top ">其他兴趣</label>
    <textarea name="other_interests" ng-model="formData.other_interests"></textarea>
</div>
<div class="form-group">
    <a class="btn" ng-click="saveInfo()">
        保存信息 <span class="glyphicon glyphicon-ok-circle"></span></span>
    </a>

</div>