<!-- userinfo-contact.html -->

<div class="item">
    <label for="phone" class="info">手机号</label>
    <input type="text" name="phone" ng-model="formData.phone">
</div>
<div class="item">
    <label for="qq" class="info">QQ</label>
    <input type="text" name="qq" ng-model="formData.qq">
</div>
<div class="item">
    <label for="wechat" class="info">微信</label>
    <input type="text" name="wechat" ng-model="formData.wechat">
</div>
<div class="item">
    <label for="email" class="info">邮箱</label>
    <input type="email" name="email" ng-model="formData.email">
</div>
<div class="item">
    <label for="tel" class="info">固定电话</label>
    <input type="tel" name="tel" ng-model="formData.tel">
</div>
<div class="form-group">
    <a ui-sref="userinfo.occupation" class="btn">
        职业信息 <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    <a class="btn" ng-click="saveInfo()">
        保存信息 <span class="glyphicon glyphicon-ok-circle"></span></span>
    </a>
</div>