.slides img {
    /*max-width: 500px;*/
    /*_width: expression(this.width > 500 ? "500px" : this.width);*/
    max-height: 300px;
    _height: expression(this.height > 300 ? "300px" : this.height);
    width: 800px;
    /*_width: expression(this.width > 150 ? "200px" : this.height);*/
}

.parallelogram {
    width: 90%;
    height: 2em;
    margin: 15px auto;
    text-align: left;
    line-height: 2em;
    font-size: 1.2em;
    -webkit-transform: skew(160deg);
    -moz-transform: skew(160deg);
    -o-transform: skew(160deg);
    background-color: rgba(0, 0, 0, 0.6);
    filter: Alpha(opacity=50);
    color: #ffffff;
}

.benefit_item {
    text-align: left;
    padding-left: 0.8em;
    display: block;
    float: left;
    width: 70%;
    font-size: 1.1em;
}

.detail {
    display: block;
    float: left;
    padding-right: 1em;
    text-align: right;
    width: 30%;
}

.be_member {
    /*min-width: 460px;*/
    margin: 0 auto;
    /*float: left;*/
}

.be_member > .btn-lg {
    padding: 15px 5px;
}

.be_member .btn-lg {
    /*width: 45%;*/
    /*padding: 10px 10px;*/
    height: 2.7em;
    font-size: 1.7em;
    text-align: center;
}

.about_btn {
    font-size: 1.5em;
    /*margin-bottom: 1em;*/
    width: 47%;
    font-weight: 700;
    margin-top: 1em;
}

.link_btn {
    color: #ffffff;
}

.login_btn {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    /*background-color: #92AD40;*/
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}