.rank {
    display: table;
    margin: 0 auto;
    width: 100%;
}

.rank .left {
    display: table-cell;
    /*padding-right: 0.5em;*/
    padding-top: 0;
    width: 30%;
    padding-right: 0.3em;
}

.rank .middle {
    display: table-cell;
    padding: 0.3em;
    padding-top: 0;
    width: 30%;
}

.rank .middle button{
    color: red !important;
    border-color: red;
}

.rank .right {
    display: table-cell;
    /*padding-left: 1.5em;*/
    padding-left: 0.3em;
    padding-top: 0;
    width: 30%;
}

.rank .right button{
    color: darkgreen !important;
    border-color: darkgreen;
}

.rank button {
    height: 2.5em;
    width: 100%;
    line-height: 1;
    padding: 0;
    /*border-color: red;*/

}

.rank .form-control{
    height: 2.5em;
}

.search-results {
    /*min-height: 20em;*/
    overflow: hidden;
}

.search-results .dinning_bg {
    min-height: 10em;
    max-height: 10em;
    /*height: 40em;*/
    _height: expression(this.height > 800 ? "800px" : this.height);
    width: 800px;
    overflow: hidden;
}

.dinning {
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    position: relative;
}

.dinning .discount_logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    max-height: 8em;
    min-height: 8em;
}

.dinning .reservation {
    margin-top: 0.7em;
    margin-bottom: 0em;
    border-color: #AB6C7C;
    background-color: #AB6C7C;
    width: 40%;
    border-radius: 0;

}

.dinning button {
    color: #FFF !important;
    font-size: 1.2em;
    text-align: center;
}

.dinning p {
    /*font-size: 1.2em;*/
    margin: 0 0 1px;
}

.glyphicon-yen:before {
    content: "\00a5";
}


#myMap{
    width: 100%;
    height:500px;
}