<div class="slides">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in dinning.images">
            <img ng-src="{{slide}}" style="margin:auto;">

            <div class="carousel-caption">
                <h4>最美食</h4>

                <!--<p>{{dinning.introduction}}</p>-->
            </div>
        </uib-slide>
    </uib-carousel>
</div>
<hr/>

<h2 style="margin-top:10px">{{dinning.restaurantName}}</h2>
<p>地址: {{dinning.restaurantAddress}}
    <span class="glyphicon glyphicon-map-marker" style="padding-left: 10px" ng-click="showMap()"></span>
    {{dinning.distance | km | number:2 | distance }}</p>
<p>人均价格: {{dinning.averagePrice}}</p>
<p>营业时间: {{dinning.restaurantOpenTime}}</p>
<p>联系电话: {{dinning.restaurantTele}}</p>
<hr/>

<div style="margin-top: 2em">
    <a class="button btn-lg" style="width: 90%;text-decoration: none" ng-click="showMap()">一键订</a>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body" id="myMap">

    </div>
    <div class="modal-footer">
        <button class="btn-sm explain" type="button" ng-click="ok()">确定</button>
    </div>
</script>


