<div class="slides">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides" active="slide.active">

            <img ng-src="{{slide.image}}" style="margin:auto;">


            <button class="login_btn">登录</button>

            <div class="carousel-caption">
                <h4>最美食</h4>

                <p>{{slide.text}}</p>
            </div>
        </uib-slide>
    </uib-carousel>
</div>

<div class="be_member">
    <button class="btn-lg about_btn" ng-click="bePayMem()">
        一键购买
    </button>

    <button class="btn-lg about_btn" ng-click="beFreeMem()">
        免费体验
    </button>
</div>
<h4 style="text-align: left">最美食会员权益:</h4>
<div class="parallelogram">
    <span class="benefit_item"><em>全国三免一折扣</em></span>
    <span class="detail"><a class="link_btn" href="/detail">详细</a></span>
</div>
<div class="parallelogram">
    <span class="benefit_item"><em>尊享VIP待遇</em></span>
    <span class="detail"><a class="link_btn" href="/detail">详细</a></span>
</div>
<div class="parallelogram">
    <span class="benefit_item"> <em>智能推荐一键订</em></span>
    <span class="detail"><a class="link_btn" href="/detail">详细</a></span>
</div>
<hr/>


